$background_1: #191923; //HTML
$background_2: #24242F; //Partie photo de profil
$background_3: #20202A; // partie prez
$background_4: #2B2B36; //Card
$white_heading: rgb(255, 255, 255);
$white_para: rgba(255, 255, 255, .7);
$yellow: #FFC108;